<%= form_with model: phone do |form| %>
	<div class="mb-3">
		<%= form.label :number, value: "Numer telefonu" %><br>
		<%= form.text_field :number, class: "form-control" %>
		<% if @phone.errors.messages_for(:number).any? %>
      <div class="alert alert-danger">
        <% @phone.errors.messages_for(:number).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
	</div>

	<%= form.hidden_field :worker_id, value: @worker.id %>

	<div class="btn-group" role="group" aria-label="Opcje numerów">
		<%= form.submit "Dodaj numer", class: "btn btn-primary" %>
		<%= link_to 'Anuluj', "/workers/"+@worker.id.to_s+"/edit", class: "btn btn-primary" %>
	</div>
<% end %>