<h1>Phone Book</h1>
<div class="list-group">
  <% @groups.each do |group| %>
    <div class="list-group-item list-group-item-primary p-2">
      <% if Current.user %>
        <div class="btn-group me-1">
          <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
            Edit
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item",  href="<%= edit_group_path(group) %>">Change group name</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to "Delete", group_path(group), class: "dropdown-item btn-sm", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
            </li>
          </ul>
        </div>
      <% end %>
      <span><%= group.name %></span> 
    </div>
    <% group.workers.each do |worker| %>
      <div class="list-group-item d-flex align-items-center list-group-item-secondary p-1 ps-3">
        <% if Current.user %>
          <div class="btn-group ms-1 me-2">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Edit
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item",  href="<%= edit_worker_path(worker) %>">Edit entry</a></li>
              <li><a class="dropdown-item",  href="<%= new_worker_phone_path(worker) %>">Add phone number</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Delete", worker_path(worker), class: "dropdown-item", data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
              </li>
            </ul>
          </div>
        <% end %>
        <span class="border-right border-primary"><%= worker.name %></span>
        <% worker.phones.each do |phone| %>
          <div class="badge bg-secondary rounded-pill ms-3"><%= phone.number %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

