<%= form_with model: worker do |form| %>
	<div class="mb-3">
		<%= form.label :name, value: "Nazwa pracownika" %><br>
		<%= form.text_field :name, class: "form-control" %>
		<% if @worker.errors.messages_for(:name).any? %>
      <div class="alert alert-danger">
        <% @worker.errors.messages_for(:name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
	</div>

	<div class="mb-3">
		<%= form.label :group_id, value: "Wydział" %><br>
		<%= collection_select(:worker, :group_id, Group.all, :id, :name, {}, {class: "form-select"}) %>
	</div>

	<div class="mb-3">
		<%= form.submit "Zapisz dane pracownika", class: "btn btn-primary" %>
	</div>
<% end %>