<h1>Edit entry</h1>

<%= render "form", worker: @worker %>

<div class="list-group mb-3">
  <% @worker.phones.each do |phone| %>
    <div class="list-group-item list-group-item-secondary p-2">
      <div class="btn-group me-1">
        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
          Edit
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item",  href="<%= edit_phone_path(phone.id) %>">Modify phone number</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <%= link_to "Delete phone number", phone_path(phone), class: "dropdown-item btn-sm", data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
          </li>
        </ul>
      </div>
      <%= phone.number %> 
    </div>
  <% end %>
</div>

<div class="btn-group" role="group" aria-label="Number options">
  <a class="btn btn-primary" href="<%= new_worker_phone_path(@worker.id) %>">New number</a>
  <%= link_to 'Back', "/", class: "btn btn-primary" %>
</div>